@media only screen and (max-width: 1150px) {

    .about-courses,
    .courses {
        padding: 0 15px 20px 15px;
    }
}

@media only screen and (max-width: 989px) {

    .lead-banner {
        height: 60vh;
        width: auto;
    }

    .about-courses,
    .courses {
        padding: 0 20px;
        margin-top: 20px;
    }

    .course {
        margin-top: 35px;
    }

    .projects {
        padding-right: 10px;
    }

    .contact-form {
       width: 45%;
    }
}

@media only screen and (max-width: 896px) {
/*(max-width: 877px)*/
    .about-courses,
    .courses {
        justify-content: center;
    }

     .title {
        padding-bottom: 30px;
    }

    .course {
        width: 30%;
    }

    .projects img {
        width: 45%;
    }
}

@media only screen and (max-width: 774px) {

    .course {
        width: 100%;
    }
}


@media only screen and (max-width: 650px) {

    .lead-banner {
        height: 50vh;
    }

    .banner-content {
        margin-left: 20px;
    }

    .banner-content p {
        font-size: 2.5rem;
    }

    .about-courses p {
        padding: 0;
        margin: 0;
        width: 90%;
    }

    .projects img {
        width: 95%;
    }

    .contact-form {
        width: 80%;
    }

    .social-links {
        margin-top: 30px;
    }

    .address p:nth-child(3) {
        padding-top: 55px;
    }
}
