/*
@media only screen and (max-width: 1199px) {
    
    .wrapper{
        max-width: 1150px;
    }
}

@media only screen and (max-width: 1100px) {
    
    .wrapper{
        max-width: 1050px;
    }
}

@media only screen and (max-width: 1000px) {
    
    .wrapper{
        max-width: 950px;
    }
}
*/

/* ---------to add main changes from here ----- */

/*
@media only screen and (max-width: 900px) {
    
    .wrapper{
        max-width: 850px;
    }
    
    .course {
        width: 30%;
        margin-top: 35px;
    }
    
    .courses ul li {
        width: 45%;
    }
}

@media only screen and (max-width: 800px) {
    
    .wrapper{
        max-width: 750px;
    }
    
    .lead-banner {
        height: 75vh;
    }
    
    .about-courses h2 {
        margin-bottom: 130px;
        margin-left: 15px;
    }
    
    .about-courses p {
        width: 70%;
    }
    
    .social-links {
        margin-left: 15%;
    }
}

@media only screen and (max-width: 700px) {
    
    .wrapper{
        max-width: 650px;
    }
    
    .lead-banner {
        height: 65vh;
    }
    
    .about-courses h2 {
        margin-bottom: 150px;
    }
    
    .courses {
        justify-content: center;
    }
    
    .course {
        width: 80%;
    }
    
    .social-links {
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    
    .wrapper{
        max-width: 550px;
    }
}

@media only screen and (max-width: 500px) {
    
}*/
